* {
    margin: 0;
    padding: 0;
}

#page-content {
    padding-top: 5rem;

    display: flex;
    flex-direction: column;

    align-items: center;
}

/* Makes form labels only visible to screen readers */
.sr-only-label {
    position: absolute;
    right: 200vw;

    width: 1px;
    height: 1px;
}

#location-field {

    margin-bottom: 2rem;

    height: 2rem;

    border-radius: 2rem;

    box-shadow: inset 0 0 15px 0 rgb(255, 165, 123);

    font-size: 1.5rem;

}

#daily-weather-disp, #hourly-weather-disp {

    margin-top: 5vh;

    width: 90vw;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    border-style: solid;
    border-width: 2px;
    border-radius: 3rem;

    box-shadow: inset 0 0 15px 0 grey;

}

.scrollview-button {

    position: absolute;
    display: flex;
    justify-content: center;

    height: 4rem;
    width: 4rem;
    
    user-select: none;
    font-size: 4rem;
    font-weight: 1000;

    border-style: solid;
    border-radius: 50%;

    opacity: 0.2;
    z-index: 1;

}

.scrollview-button:hover {
    opacity: 0.5;

    cursor: pointer;
}

.scrollview-button > p {
    align-self: center;
}

.scrollview-left {
    left: calc(5vw + 2rem);
}

.scrollview-right {
    right: calc(5vw + 2rem);
}

.scrollview-items {

    --scale: max(min(1vw, 0.45rem), 0.286vw);

    display: flex;

    transition: transform 0.5s ease;

}

.daily-weather-item, .hourly-weather-item {

    margin: 0.5rem var(--scale) 0.5rem var(--scale);
    flex: none;

    width: calc(42*var(--scale));
    height: calc(45*var(--scale));

    border-style: solid;
    border-radius: 2rem;

    box-shadow: 0 0 4px 0 grey;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}

.hourly-weather-item {

    width: calc(27*var(--scale));
    height: calc(45*var(--scale));

}

.daily-weather-date, .hourly-weather-time {

    margin: var(--scale);
    padding: var(--scale);

    border-style: solid;
    border-radius: calc(5 * var(--scale));
    border-color: grey;

    font-size: calc(3 * var(--scale));
    font-weight: 500;

}

.hourly-weather-time {

    font-size: calc(2.5 * var(--scale))

}

.daily-weather-data {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.hourly-weather-data {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.weather-data-cell {

    margin: calc(0.5 * var(--scale));

    width: calc(10 * var(--scale));
    height: calc(10 * var(--scale));

    display: flex;
    flex-direction: column;
    align-items: center;

    border-style: solid;
    border-color: darkgrey;
    border-radius: calc(4 * var(--scale));
    border-width: 3px;

    box-shadow: 0 0 2px 0 grey,
                inset 0 0 2px 0 grey;

}

.weather-data-name {

    margin-top: calc(0.5 * var(--scale));
    margin-left: calc(0.3 * var(--scale));

    font-size: calc(2 * var(--scale));

}

.weather-data-value {

    margin-top: calc(1.2 * var(--scale));
    margin-left: calc(0.3 * var(--scale));

    font-size: calc(3 * var(--scale));

}